{% extends 'layout.html' %}
{% block body %}
<div style="margin-top:55px">
    <div class="w3-row">
        <div class="w3-col s11">
            <!-- <img src="assets/img/test.png" alt=""> -->
            <div id="container"></div>
            <script src="https://unpkg.com/konva@8/konva.min.js"></script>
            <!-- <script src="main.js"></script> -->
            {% block script %}
            <script>
                var width = document.getElementById("container").clientWidth;
                var height = window.innerHeight;
                var s1 = new Konva.Stage({
                    container: 'container',
                    width: width,
                    height: height,
                });
                var layer1 = new Konva.Layer(
                    { draggable: false }
                );
                s1.add(layer1)
                var r1 = new Konva.Rect({
                    x: 5,
                    y: 5,
                    width: width,
                    height: height
                })
                layer1.add(r1)
                var fillPatternImage = r1.fillPatternImage();
                r1.fillPatternRepeat('no-repeat');
                r1.fillPatternScale({
                    x: 1,
                    y: 1
                });
                // set fill pattern image
                var imageObj = new Image();
                imageObj.onload = function () {
                    r1.fillPatternImage(imageObj);
                };
                imageObj.src = "{{ url_for('static', filename=image_path) }}";
                // draw a rectangle to be used as the rubber area
                var r2 = new Konva.Rect({
                    x: 0,
                    y: 0,
                    width: 0,
                    height: 0,
                    stroke: 'lime',
                    dash: [2, 2]
                })
                r2.listening(false); // stop r2 catching our mouse events.
                layer1.add(r2)
                // Draw on canvas
                var posStart;
                var posNow;
                var mode = '';
                function startDrag(posIn) {
                    posStart = { x: posIn.x, y: posIn.y };
                    posNow = { x: posIn.x, y: posIn.y };
                }
                function updateDrag(posIn) {
                    // update rubber rect position
                    posNow = { x: posIn.x, y: posIn.y };
                    var posRect = reverse(posStart, posNow);
                    r2.x(posRect.x1);
                    r2.y(posRect.y1);
                    r2.width(posRect.x2 - posRect.x1);
                    r2.height(posRect.y2 - posRect.y1);
                    r2.visible(true);
                    s1.draw(); // redraw any changes.
                }
                // start the rubber drawing on mouse down.
                r1.on('mousedown', function (e) {
                    mode = 'drawing';
                    startDrag({ x: e.evt.layerX, y: e.evt.layerY })
                })
                // update the rubber rect on mouse move - note use of 'mode' var to avoid drawing after mouse released.
                r1.on('mousemove', function (e) {
                    if (mode === 'drawing') {
                        updateDrag({ x: e.evt.layerX, y: e.evt.layerY })
                    }
                })
                // here we create the new rect using the location and dimensions of the drawing rect.
                r1.on('mouseup', function (e) {
                    mode = '';
                    r2.visible(false);
                    var newRect = new Konva.Rect({
                        x: r2.x(),
                        y: r2.y(),
                        width: r2.width(),
                        height: r2.height(),
                        fill: 'lime',
                        listening: false,
                        opacity: 0.3
                    })
                    layer1.add(newRect);
                    console.log(newRect)
                    s1.draw();
                    document.getElementById('text-x0').value = r2.x() - 5; // considering left padding
                    document.getElementById('text-y0').value = r2.y();
                    document.getElementById('text-x1').value = r2.x() + r2.width() - 5; // considering left padding
                    document.getElementById('text-y1').value = r2.y() + r2.height();
                })
                // reverse co-ords if user drags left / up
                function reverse(r1, r2) {
                    var r1x = r1.x, r1y = r1.y, r2x = r2.x, r2y = r2.y, d;
                    if (r1x > r2x) {
                        d = Math.abs(r1x - r2x);
                        r1x = r2x; r2x = r1x + d;
                    }
                    if (r1y > r2y) {
                        d = Math.abs(r1y - r2y);
                        r1y = r2y; r2y = r1y + d;
                    }
                    return ({ x1: r1x, y1: r1y, x2: r2x, y2: r2y }); // return the corrected rect.     
                }
            </script>
            {% endblock script %}
        </div>
        <div class="w3-col s1">
            <div class="w3-container w3-padding-16">
                <input class="w3-input" style="border:0px" type="text" name="text" placeholder="x0" id="text-x0">
                <input class="w3-input" style="border:0px" type="text" name="text" placeholder="y0" id="text-y0">
                <input class="w3-input" style="border:0px" type="text" name="text" placeholder="x1" id="text-x1">
                <input class="w3-input" style="border:0px" type="text" name="text" placeholder="y1" id="text-y1">
            </div>
        </div>
    </div>
    {% endblock body %}